@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
  border-radius: 15px; 
}

.imageop {
  width: 50%;
  display: flex;
  justify-content: center;
}

.imageop img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.allmain {
  height:700px;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}


.allmain form h1{
  margin-bottom: 20px;
  font-weight: 500;
  color:#F4B6C2;
  -webkit-text-stroke:  #f8f3ed; 
  align-self: center;
  display: flex;
  align-items: center;
}
.buttonsSig {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form .buttonsSig button {
  width: 48%;
  padding: 10px;
  background-color: #F4B6C2 ; 
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .buttonsSig button:hover {
  background: none; 
  color:#F4B6C2;
  font-weight: 700;
  border: 1px solid #F4B6C2;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #F4B6C2;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #F4B6C2;
  outline: none;
}
.emails{
  margin-top: 30px;
}
.emails h2{
  font-size: 19px;
  align-self: start;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
}

form .submit button {
  width: 100%;
  padding: 12px;
  color: f8f3ed;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid #F4B6C2;
  cursor: pointer;
  color:white;
  background-color: #F4B6C2;
  font-weight: 600;
}
form .submit button:hover{
  background: none;
  color:#F4B6C2;
}

.check p{
  margin-top: 20px;
  color: #F4B6C2;
}

@media screen and (max-width: 991px) {
  .main {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .imageop  {
    display: none;
  }

  .allmain {
    width: 90%;
    max-width: 400px;
  }
}